
@model School

@{
    ViewData["Title"] = "School Info";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<h2>Escuela: @Model.IdSchool</h2>
<h2>Nombre: @Model.NameSchool</h2>
<p><strong>Año de Fundación: @Model.YearFoundationSchool</strong></p>